img {
    position: absolute;
}

#frame1 {
    visibility: hidden;
    animation: 50s show infinite;
  }
  
  #frame2 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 5s;
  }
  
  #frame3 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 10s;
  }
  
  #frame4 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 15s;
  }
  
  #frame5 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 20s;
  }
  
  #frame6 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 25s;
  }
  
  #frame7 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 30s;
  }
  
  #frame8 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 35s;
  }
  
  #frame9 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 40s;
  }
  
  #frame10 {
    visibility: hidden;
    animation: 50s show infinite;
    animation-delay: 45s;
  }
  
  @keyframes show {
    0%   { visibility: visible;}
    12.5%  { visibility: visible; }
    12.6%  { visibility: hidden; }
    100% { visibility: hidden; }
  }